.container {
	width: 550px;
	margin: auto;
	background-color: #ffffff;
}

nav {
	height: 70px;
	background: #ffffff;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
}

.section {
	max-width: 400px;
	margin: 1rem auto;
}

.hero img {
	width: 100%;
}

.hero-texts {
	width: 320px;
	padding: 2rem 0;
}

.cards {
	width: 550px;
	display: flex;
	gap: 2rem;
	padding: 1rem;
	overflow-x: scroll;
	position: relative;
}

.card {
	position: relative;
}

.openSpots-status {
	position: absolute;
	width: 61px;
	height: 20px;
	left: 10px;
	top: 10px;
	background-color: #ffffff;
	border-radius: 2px;
	text-transform: uppercase;
	text-align: center;
	font-size: 10.24px;
	line-height: 200%;
	color: #222222;
}

.card-img {
	width: 176px;
	height: 235px;
	margin-bottom: 10px;
}

.card-img img {
	border-radius: 9px;
}

.card-info {
	display: flex;
	flex-direction: column;
	gap: 6px;
	font-size: 12px;
}
.card-stats {
	display: flex;
}

.card-star img {
	width: 14px;
	margin-right: 5px;
}

.card-review-counts {
	margin: 0 3px;
}

.grey {
	color: grey;
}
